@{
    ViewBag.Title = "Home Page";
}

@section BackgroundImage {
        <div class="pup-cake-picture">
            <div class="background-paragraph">
                <h1>Hi, pup lovers</h1>
                <h5>WoofDay is a place to keep track<br /> of your pup friends' birthdays.</h5>
                @Html.ActionLink("Sounds awesome", "Register", "Account", new { }, new { @id = "join-us-two" })
                @Html.ActionLink("Already a member", "Login", "Account", new { }, new { @id = "join-us-two" })
            </div>
        </div>
}


@section IndexImageTwo {
    <div class="index-image-two">
        <h3 class="pug-paragraph">Have you ever forgotten to<br /> wish a pup happy birthday?</h3>
        <h6 class="forgotten-bday-message">No worries, we've got you covered!</h6>
        <img id="pug" src="~/Content/Pictures/pug-birthday-bokeh.jpg" alt="Pug Pup" />
    </div>
    }

@section PupCutOut {
<div class="purple-background">
    <div class="centering-container">
        <div id="pup-cutout">
            <img src="~/Content/Pictures/happy-pup-cutout.png" alt="Happy Pup Cutout" />
        </div>

        <div id="happy-pup-cutout-paragraph">
            <h4 id="happy-pup-cutout-help">How we can help</h4>
            <p id="happy-pup-paragraph">We help you store all the birthdays<br /> of every pup you know at one place,<br /> easy to access, so you won't forget <br />about them even in your busy life.</p>
            @Html.ActionLink("Join us now", "Register", "Account", new { }, new { @id = "join-us-two" })
        </div>

    </div>
</div>
    }

@section HappyBirthdayPup {
<div class="birthday-pup-examples">
    <div class="birthday-pups-pictures">
        <h1 id="happy-pup-title">Happy Birthday-Pups</h1>
        <h4 id="happy-pup-phrase">Check out some pups who enjoyed their birthdays!</h4>
        <div class="pup-row">
            <div><img id="pup" src="~/Content/Pictures/birthday-pup-1.jpg" alt="Pup 1" /></div>
            <div><img id="pup" src="~/Content/Pictures/birthday-pup-2.jpg" alt="Pup 2" /></div>
            <div><img id="pup" src="~/Content/Pictures/birthday-pup-3.jpg" alt="Pup 3" /></div>
        </div>

        <div class="pup-row">
            <div><img id="pup" src="~/Content/Pictures/birthday-pup-4.jpg" alt="Pup 4" /></div>
            <div><img id="pup" src="~/Content/Pictures/birthday-pup-5.jpg" alt="Pup 5" /></div>
            <div><img id="pup" src="~/Content/Pictures/birthday-pup-6.jpg" alt="Pup 6" /></div>
        </div>
    </div>
</div>
}