body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1.contact {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 white;
}

#input-name, #input-email, #input-subject, #input-message, #input-submit {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
    margin-left: auto;
    margin-right: auto;
}

    #input-name:focus, #input-email:focus, #input-subject:focus, #input-message:focus, #input-submit:focus {
        -moz-box-shadow: 0 0px 2px #735FC5 !important;
        -webkit-box-shadow: 0 0px 2px #735FC5 !important;
        box-shadow: 0 0px 2px #735FC5 !important;
    }

form #input-submit {
    color: white;
    background: #673E78;
    cursor: pointer;
}

form #input-submit:hover {
        -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
        -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
        box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    }

#input-message {
    height: 126px;
}

@media (max-width: 100%) {
}

/*navbar change*/
.navbar-brand {
    font-family: 'Bungee Inline', cursive;
    font-size: 36px;
}

.navbar-inverse {
    background-color: #673E78;
}

.navbar-inverse .navbar-brand 
{
    color: #FBFAF8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FBFAF8;
}

.index-background img
{
    width: 100%; 
}

h1.contact {
    margin-top: 50px;
}
