body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1.contact {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 white;
    margin-top: 50px;
}

#input-name, #input-email, #input-subject, #input-message, #input-submit {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
    margin-left: auto;
    margin-right: auto;
}

    #input-name:focus, #input-email:focus, #input-subject:focus, #input-message:focus, #input-submit:focus {
        -moz-box-shadow: 0 0px 2px #735FC5 !important;
        -webkit-box-shadow: 0 0px 2px #735FC5 !important;
        box-shadow: 0 0px 2px #735FC5 !important;
    }

form #input-submit {
    color: white;
    background: #673E78;
    cursor: pointer;
}

form #input-submit:hover {
        -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
        -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
        box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    }

#input-message {
    height: 126px;
}

@media (max-width: 100%) {
}

/*navbar change*/

.navbar-brand {
    font-family: 'Bungee Inline', cursive;
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar-inverse {
    background-color: #673E78;
}

.navbar-inverse .navbar-brand 
{
    color: #FBFAF8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FBFAF8;
}


.pup-cake-picture {
    position: relative;
    overflow: auto;
    background-image: url('Pictures/dog-eat-cake.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 800px;
}


div .background-paragraph {
    float: right;
    text-align: center; 
    margin-right: 16%;
    margin-top: 24%;
  
}

.background-paragraph h1 {
    font-family: 'Boogaloo', cursive;
    color: black;
    font-size: 2.6em;
    text-transform: uppercase;
}

.background-paragraph h5 {
    font-family: 'Poppins', sans-serif;
    color: black;
    line-height: 1.5em;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 1.2em;
}
@media (max-width: 960px) {
    .background-paragraph h1 {
        font-size: 2.2em;
    }

    .background-paragraph h5 {
        font-size: 1em;
        line-height: 1.4em;
    }
}

#app-name{
    text-align: center;
}

/*Pug section*/
#pug{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    margin-bottom: 50px;
}

.pug-paragraph {
    text-align: center;
    font-family: 'Boogaloo', cursive;
    font-size: 46px;
    color: black;
    line-height: 1.1em;
    margin-top: 50px;
}

.forgotten-bday-message {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 25px;
}

/*Purple background section*/

.purple-background {
    width: 100%;
    background-color: rgb(116, 49, 160);
    position: relative;
    overflow: auto;
}

.centering-container {
    margin: 0 auto;
    max-width: 700px;
}

#pup-cutout {
    margin-top: 45px;
    float: left;
    margin-bottom: 40px;
}

#pup-cutout img {
    width: 90%;
}

#happy-pup-cutout-paragraph {
    float: right;
    margin-top: 130px;
    text-align: center;
}
#happy-pup-cutout-help {
    font-family: 'Boogaloo', cursive;
    color: white;
    font-size: 36px;
}

#happy-pup-paragraph {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
}

#join-us-two {
    padding: 5px 30px;
    border-radius: 4px;
    font-family: 'Palanquin Dark', sans-serif;
    background-color: white;
    border: none;
    color: rgb(116, 49, 160);
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

/*Birthday pups*/
.birthday-pups-pictures {
    overflow: auto;
    width: 80%;
    margin: 20px auto;
}

.pup-row {
    width: 100%;
    margin: 0 auto;
    
}
#pup {
    float: left;
    width: 31.3%;
    margin: 1%;
}

#happy-pup-title {
    font-family: 'Boogaloo', cursive;
    font-size: 34px;
    text-align: center;
    color: black;
}

#happy-pup-phrase {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 22px;
    margin-bottom: 15px;
}

#login-button {
    background: #673E78;
    color: white;
}

#register-button {
    background: #673E78;
    color: white;
}

#pug-helper {
    width: 10%;
    position: fixed;
    right: -6.5px;
    margin-top: 60px;
    cursor: pointer;
    z-index: 1;
}

/*chat box*/
#chatBox {
    display: none;
    position: fixed;
    width: 200px;
    height: 300px;
    padding: 10px;
    background: #EDEDED;
    color: purple;
    text-align: center;
    font-family: Cambria;
    font-size: 20px;
    bottom: 0px;
    right: 15px;
    cursor: pointer;
    border-color: #DDD;
    z-index: 1;
}

#close {
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 6px 5px 10px 5px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: purple;
    right: 0px;
    top: 0px;
}
.form-control:focus {
    -moz-box-shadow: 0 0px 2px #735FC5 !important;
    -webkit-box-shadow: 0 0px 2px #735FC5 !important;
    box-shadow: 0 0px 2px #735FC5 !important;
}


footer {
    font-size: 16px;
    padding-top: 16px;
}